.CategoryList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.AllCategory {
  display: flex;
}
.containerCategory {
  margin-top: 20px;
  margin-left: 20px;
  border: 1px solid black;
  border-radius: 20px;
  width: 300px;
  height: 400px;
  text-align: center;
  cursor: pointer;
}

.ImgCategory, .ImgCategoryAdd {
  width: 270px;
  height: 300px;
  border-radius: 20px;
}
.ImgCategoryAdd {
  height: 270px;
}
.Header {
  width: 100%;
}
.HeaderContent {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 17px;
}
.SortAmount, .SortCategory{
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}
.AllBtnHeader,.Statistics,.SortCategory  {
  margin-left: 10px;
}
.btnExpense, .btnIncome, .spent ,.arrived {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  padding: 1px;
}
.btnIncome,.arrived {
  margin-top: 2px;
}
.HeaderPagination {
  margin-top: 5px;
  display: flex;
  margin-left: 43%;
  width: 400px;
  justify-content: space-between;
  font-size: 24px;
}
.stickHeaderPagination {
  background: black;
  width: 0.2px;
  height: 26px;
  border: 0.5px solid black;
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
}

.AllContainerCategoryExpense{
  display: flex;
  flex-wrap: wrap;
}
.ContainerCategoryExpense {
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  width: 230px;
  height: 220px;
  margin-left: 20px;
  margin-top: 20px;
  justify-content: center;
  cursor: pointer;
}
.ImgExpenseAdd {
  width: 210px;
  height: 200px;
  
}